# App
NODE_ENV='development'
APP_PORT=5000
ALLOWED_ORIGIN=http://localhost:5173

# Database
DATABASE_URL=

# Cookies
COOKIES_SECRET=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Sessions
MAX_SESSIONS=
