# App
NODE_ENV='development'
APP_PORT=5000
ALLOWED_ORIGIN=

# Database
DATABASE_URL=

# Cookies
COOKIES_SECRET=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Sessions
MAX_SESSIONS=

# S3
S3_ENDPOINT=
S3_PUBLIC_BASE_URL=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET_NAME=
S3_BUCKET_UUID=

# Seed password
PASSWORD=